@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000
}
h1 {
    color: #dfdfdf;
}
strong {
    color: #00AF3A ;
}
p {
    color: #a7a7a7;
}
.titulo-verde {
    color: #00AF3A;
}
.presentación {
    margin: 10% 23%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.presentación__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.presentación__contenido__titulo {
    font-size: 40px;
    font-family: "Inria Sans", serif;
    text-align: right;
}
.presentación__contenido__texto {
    font-size: 22px;
    font-family: "Inria Sans", serif;
    text-align: right;
}
.presentación__enlaces{
    display: flex;
    justify-content: space-between;
}
.presentación__enlaces__link {
    width: 175px;
    background-color: #00AF3A;
    text-align: center;
    padding: 15px 0 ;
    border-radius: 10px;
    font-family: "Inria Sans", serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;   
}